<%= error_messages_for 'budget' %>

<h2><%= link_to l(:label_budget_plural), :controller => 'budgets', :action => 'index', :id => @project %> &#187; <%=l(:label_budget_new)%></h2>

<% form_for :budget, @budget, 
			:url => { :action => 'new', :project_id => @projet },
			:controller => 'budgets',
			:method => :post ,
			:builder => TabularFormBuilder do |f| %>
<div class="box tabular">
		<p>	<%= f.text_field :amount, 
				:required => true, 
				:size => 10, 
				:label => l(:label_budget_amount) %> 
			<%= date_select("post", "date", 
							:start_year => Date.today.year - 1, 
							:use_month_numbers => false,
							:discard_day => true, 
							:include_blank => false) %>
		</p>
<%= submit_tag l(:button_save) %>
<% end %>


